body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main {
  width: 400px;
  background-color: #222;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.display {
  background-color: #111;
  padding: 20px;
}

.display2 {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: right;
  padding-right: 10px;
  border: none;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  background: #444;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #666;
}

button:active {
  transform: scale(0.95);
}

.equal {
  grid-column: 4;
  grid-row: 2 / 6;
  background: #ff9500;
}
